@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-black: rgb(0, 0, 0);
  --theme-gray: rgb(82, 82, 82);
  --theme-snow: rgb(245, 245, 245);
}


body {
  background-color: var(--theme-snow);
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
